/***********************
  Main
************************/
html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

body {
    font-size: 16px;
    background-color: #FFFFFF;
}

nav {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 15em;
    z-index: 9999;
    padding-top: 1em;
}

nav ul {
    margin-left: 15px;
    padding-left: 0;
}

nav a {
    color: #FFF;
    font-size: 16px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

nav a:hover, a:focus {
    text-decoration: none;
    color: #98ff98;
}

#header {
    padding-top: 4em;
    text-align: center;
    font-family: "Calibri Light", Raleway, sans-serif;
    background-color: black;
    font-size: 15px;
}

#header p {
    color: white;
}

#tutorial {
    padding-top: 4em;
}

#startButton {
    padding-top: 4em;
}

#tutorial, #startButton, #keyboard, #example, #legend, #hideTutorial {
    text-align: center;
    font-family: "Calibri Light", Raleway, sans-serif;
    color: white;
    font-size: 15px;
}

#hideTutorial {
    color: black;
}

#example, #legend {
    font-size: 1.5em;
    padding-top: 3%;
    color: black;
}

#legend {
    padding-bottom: 0.5em;
    font-size: 2em;
    margin: 0;
}

#top {
    background-color: black;
}

#top, #keyboard, #startButton {
    padding-bottom: 4em;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

#countdown {
    text-align: center;
    display: none;
    padding-top: 1em;
    text-align: center;
    font-size: 7em;
}
/***********************
  Header Color Transition
************************/
.colorTransition {
    font-size: 70px;
    font-family: 'Raleway', "Yu Gothic UI Semilight", Arial, sans-serif;
    font-variant: all-small-caps;
    -webkit-animation:colorchange 18s infinite;
}

@-webkit-keyframes colorchange {
    0% {color: white;}
    16% {color: yellow;}
    30% {color: orange;}
    44% {color: red;}
    58% {color: green;}
    72% {color: blue;}
    86% {color: purple;}
}

/***********************
  BUTTONS
************************/

.btn {
    font-size: 20px ! important;
    padding: 14px 24px ! important;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/***********************
  GAME AND USER VIEW
************************/

#wrapper {
  background-color: #e3f2fd;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -60px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper:after {
  content: "";
  display: block;
  height: 60px; /* the footer's total height */
}

#content {
  height: 100%;
}

#gametext, #gameplay, #ingameinfo {
    display: block;
}

#gametext {
    font-size: 60px;
}

#gameplay {
    padding-top: 46px;
    background-color: white;
    padding-bottom: 3em;
}

#ingameinfo {
    font-size: 30px;
    color: black;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/***********************
  RESULTS VIEW
************************/

.correct {
    color: green;
}

.wrong {
    color: red; 
}

#marks {
    height: 75px;
}

#grid {
    padding-left: 0px;
}

#results h2 {
    text-align: center; 
}